body {
    font-family: 'Exo', sans-serif;
}

.btn_try {
    a {
        padding: 14px 50px;
        background-color: #ff6d6d;
        border-radius: 5px;
        color: #ffffff;
    }
}

a {
    text-decoration: none;
    &:hover {
        text-decoration: none;
    }
}

h2 {
    font-size: 40px;
    margin-bottom: 45px;
    margin: 10px 0;
}

.text_wrapper {
    color: #717171;
    font-weight: 500;
    margin-top: 3rem;
    line-height: 26px;
}

header {
    background-image: url('../img/bg_header.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    h1 {
        font-family: 'Exo', sans-serif;
        font-weight: 100;
        font-size: 60px;
    }
    .h_content {
        padding: 220px 0;
    }
    .btn_play {
        a {
            color: #8185a3;
        }
        font-size: 60px;
        padding: 36px 0;
        color: #000;
    }
    small {
        font-size: 14px;
        color: #777779;
        ;
    }
}

.red_text {
    color: #fb8686;
    font-weight: 500;
}

.design {
    background-image: url('../img/des_bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    .content {
        padding: 165px 0;
        span {
            color: #fb8686;
            ;
        }
    }
}

.features {
    background-image: url('../img/BG.png');
    background-size: cover;
    background-repeat: no-repeat;
    .content {
        padding: 130px 0;
        img {
            margin: 23px 0;
        }
        .text_wrapper {
            margin-top: 20px;
        }
    }
}